/*
    The Container of everything
*/

.align-student{
    padding: 70px 70px;
}

/*
    The Heading
*/

.student-heading{
    font-size: 36px;
    margin-right: 10px;
    float: left;
}

.student-search{
    display: inline-block;
    margin-top: 12px;
    float: left;
}

.student-search-input-container{
    display: inline-block;
    float: left;
    overflow: hidden;
}

.student-search-input-container.opened{
    width: 219px;
    transition: width .3s;
}

.student-search-input-container.closed{
    width: 0;
    transition: width .3s;
}

.student-search-input{
    font-size: 15px;
    padding: 5px 10px 5px 15px;
    width: 100%;
    /*border: solid rgba(255,0,0,.7) 2px;*/
    border: solid #BBBBBB 2px;
    border-right: none;
    border-radius: 15px 0 0 15px;
}

input.student-search-input:focus{
    outline: none;
}

/*.student-auto-suggest-container{*/
    /*width: 180px;*/
    /*float: left;*/
/*}*/

.student-search-button.input-closed{
    border-color: transparent;
    transition: border-color .3s;
}

.student-search-button.input-closed path{
    fill: rgba(255,0,0,.7);
    transition: fill .3s;
}

.student-search-button.input-opened{
    border-color: #BBBBBB;
    transition: border-color .3s;
}

a.student-search-button.input-opened:hover path{
    fill: rgba(255,0,0,.7);
}

.student-search-button{
    /*border: solid rgba(255,0,0,.7) 2px;*/
    border: solid #BBBBBB 2px;
    border-left: none;
    height: 36px;
    width: 33px;
    padding: 2px 2px 2px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 0 15px 15px 0;
}

.student-search-input-close-button{
    color: #BBBBBB;
    float: left;
    margin-left: 5px;
    margin-top: 8px;
}

a.student-search-input-close-button:hover{
    color: rgba(255,0,0,.7);
}

.applied-name-filter{
    border: 2px solid #BBBBBB;
    border-radius: 10px;
    display: inline-block;
    min-width: 300px;
    text-align: center;
    color: #BBBBBB;
    font-size: 16px;
    padding: 4px 0;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.applied-name-filter a{
    text-decoration: none;
    color: #BBBBBB;
    position: absolute;
    display: inline-block;
    right: -50px;
    transition: right .3s;
    padding-right: 10px;
}

.applied-name-filter a:hover{
    color: rgba(277,0,0,.7);
}

.applied-name-filter:hover a{
    right: 0;
    transition: right .3s;
}

a.add-filter-button{
    text-decoration: none;
    display: inline-block;
    background-color: rgba(255,0,0,.7);
    color: white;
    padding: 4px 30px;
    border-radius: 30px;
    margin-top: 10px;
}

/*
    The table
*/

.student-table-head{
    padding: 0 40px 5px;
    border-bottom: solid #FBFBFB 4px;
}

.student-table-row{
    padding: 5px 40px;
    border-bottom: solid #FBFBFB 2px;
}

.student-table-cell{
    display: inline-block;
    font-size: 16px;
}

.id-cell,.enrollment-status-cell{
    width: 20%;
}

.degree-year-cell{
    width: 10%;
}

.name-cell, .email-cell{
    width: 25%;
}

.student-pagination-container{
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.student-pagination-input-container{
    display: inline-block;
    width: 45px;
    position: relative;
}

a.student-pagination-button{
    display: inline-block;
    text-decoration: none;
    border: 2px solid rgba(255,0,0,.7);
    padding: 2px 8px;
    color: rgba(255,0,0,.7);
    border-radius: 5px;
}

a.student-pagination-button:hover{
    background-color: rgba(255,0,0,.7);
    color: white;
    transition: background-color .3s;
}

a.student-pagination-button.hide{
    visibility: hidden;
}

.student-pagination-text{
    display: inline-block;
    padding: 0 10px;
}

a.student-pagination-error{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgba(255,0,0,.7);
    color: white;
    border-radius: 20px;
}

a.student-pagination-error.hide {
    opacity: 0;
    transition: opacity .3s;
}

a.student-pagination-go-to-page-button{
    display: inline-block;
    text-decoration: none;
    position: absolute;
    padding: 5px 25px;
    color: white;
    background-color: rgba(255,0,0);
    border-radius: 10px;
    right: -180px;
    top: 0;
    opacity: 1;
    transition: opacity .3s;
}

a.student-pagination-go-to-page-button.hide{
    opacity: 0;
}

/*
    The Applied Filters
*/

.applied-filters{
    padding-top: 20px;
}

a.applied-filter {
    display: inline-block;
    text-decoration: none;
    color: #B10F1F;
    border: solid #B10F1F 2px;
    padding: 4px 20px;
    min-width: 200px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 15px;

}


/*
    The Edit Filter Modal
*/

.edit-student-filter-modal{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: white;
    padding: 40px 30px 0;
    border-left: 2px groove #FBFBFB;
    overflow: scroll;
}

.edit-student-filter-heading{
    display: inline-block;
    margin-right: 15px;
}

a.clear-filter-link{
    text-decoration: none;
    color: rgba(255,0,0,.7);
}

a.edit-student-filter-modal-button{
    font-size: 16px;
    display: inline-block;
    background-color: white;
    color: rgba(255,0,0,.7);
    border: 2px solid rgba(255,0,0,.7);
    padding: 4px;
    min-width: 200px;
    border-radius: 30px;
    text-decoration: none;
}

a.edit-student-filter-modal-button:hover{
    background-color: rgba(255,0,0,.7);
    color: white;
    transition: ease .2s;
}

.edit-student-filter-modal-button-container{
    text-align: center;
    padding: 15px 0;
}

a.edit-student-filter-modal-close-button{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.edit-student-filter-modal-close-button path{
    fill: transparent;
    stroke: rgba(255,0,0,.7);
    stroke-width: 10px;
}

a.edit-student-filter-modal-close-button:hover path{
    fill: rgba(255,0,0,.7);
    stroke: rgba(255,0,0,.7);
    stroke-width: 10px;
    transition: ease .3s;
}

.campus-option-container{
    display: inline-block;
    width: 50%;
    text-align: center;
}

a.campus-option,
a.enrollment-status-option,
a.nu-undergrad-option{
    display: inline-block;
    min-width: 130px;
    padding: 0 10px;
    border: 2px solid rgba(255,0,0,.7);
    border-radius: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    color: rgba(255,0,0,.7);
    background-color: white;
}

a.campus-option.selected,
a.enrollment-status-option.selected,
a.nu-undergrad-option.selected{
    color: white;
    background-color: rgba(255,0,0,.7);
}

.enrollment-status-option-container,
.nu-undergrad-option-container{
    display: inline;
    margin: 0 5px;
}

a.enrollment-status-option,
a.nu-undergrad-option{
    min-width: auto;
    padding: 0 20px;
}

.student-filter{
    margin-bottom: 5px;
}

/*
    The Student Profile Modal
*/

.student-profile-modal{
    position: fixed;
    border: 2px solid #BBBBBB;
    background-color: white;
    padding-top: 70px;
    overflow-y: scroll;
}

.student-profile-modal-nav-bar{
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: 2px groove #BBBBBB;
    overflow: auto;
}

.student-profile-modal-nav-bar a{
    display: inline-block;
    text-decoration: none;
    color: #022A52;
    font-size: 18px;
}

.student-profile-modal-drag{
    padding: 10px 20px;
}

.student-profile-modal-close-button{
    float: right;
    padding: 10px 20px;
    margin-right: 0;
}

.student-profile-modal-nav-bar a:hover,.student-profile-modal-nav-bar a.active{
    color: rgba(255,0,0,.7);
    background-color: white;
    transition: color .3s, background-color .3s;
}

.student-profile-modal-nav-links{
    display: inline-block;
}

.student-profile-modal-nav-links a{
    padding: 10px 15px;
    margin: 0 1px;
}

.student-profile-modal-nav-links a.with-badge{
    padding: 10px 15px;
}

.student-profile-modal-nav-links a.with-badge span{
    display: inline-block;
    padding: 0 8px;
    border-radius: 8px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    background-color: #70777D;
}

.student-profile-modal-nav-links a.with-badge.active span{
    color: white;
    background-color: rgba(255,0,0,.7);
}

.student-profile-modal-nav-links a.with-badge:hover span{
    background-color: rgba(255,0,0,.7);
    transition: background-color .3s;
}

.student-profile-modal-title{
    float: right;
    display: inline-block;
    padding: 10px 10px 0;
    font-style: italic;
    font-weight: 600;
    margin-right: 40px;
    color: #022A52;
    font-size: 18px;
}

/*
    The Notes
*/

.notes{
    padding: 0 40px;
}

.note-editor-field{
    overflow: auto;
    margin-bottom: 10px;
}

.note-editor-field-name{
    display: inline-block;
    width: 40%;
    float: left;
    font-weight: bold;
    text-align: right;
    padding-right: 25px;
}

.note-editor-field-input{
    display: inline-block;
    width: 60%;
    float: left;
}

.note-editor-control-container{
    padding-top: 15px;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.note-editor-control-container a{
    display: inline-block;
    min-width: 180px;
    padding: 5px 30px;
    border-radius: 20px;
    color: rgba(255,0,0,.7);
    border: 2px rgba(255,0,0,.7) solid;
    text-decoration: none;
}

.note-editor-control-container a:hover{
    background-color: rgba(255,0,0,.7);
    color: white;
    transition: background-color .3s;
}

.note-editor-back-button,.add-note-button{
    color: #BBBBBB;
    font-size: 25px;
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

a.note-editor-back-button:hover,a.add-note-button:hover{
    color: rgba(255,0,0,.7);
    transition: color .3s;
}

.note{
    position: relative;
    margin: 0 20px;
    overflow: hidden;
}

.note-title{
    background-color: rgba(187,187,187,.3);
    font-size: 23px;
    font-style: italic;
    font-weight: 700;
    padding: 5px 15px;
}

.note-desc{
    padding: 10px 15px 0;
    min-height: 200px;
    background: linear-gradient(rgba(187,187,187,.2),white);
}

.note:hover .note-control-panel{
    right: 0;
    transition: right .3s;
}

.note-control-panel{
    position: absolute;
    width: 80px;
    top: 0;
    right: -80px;
    padding-top: 7px;
    transition: right .3s;
}

.note-control-container{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.note-control-container a:hover{
    color: rgba(255,0,0,.7);
    transition: color .3s;
}











