.retrieval-message{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}

.retrieval-message a{
    display: inline-block;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.retrieval-message a:hover{
    color: rgba(255,0,0,.7);
    transition: color .3s;
}

